node_modules                                                                    
.DS_Store                                                                       
couchdb.stderr                                                                  
couchdb.stdout                                                                  
